<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.iwind.tj_tax"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.iwind.App.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 欢迎页面 -->
        <activity android:name=".Act_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 登录页面-->
        <activity android:name=".Act_Login"></activity>
        <!-- 注册页面-->
        <activity android:name=".Act_Register"></activity>
        <!-- 资讯 -->
        <activity android:name=".Question.Act_Question">
        </activity>
        <!-- 主页 -->
        <activity android:name=".HomePage.Act_HomePage">
        </activity>
        <!-- 发现 -->
        <activity android:name=".Find.Act_Find">
        </activity>
        <!-- 我的 -->
        <activity android:name=".Mine.Act_Mine">
        </activity>
        <!-- 讨论详情-->
        <activity android:name=".HomePage.Act_Discuss_Detail">
        </activity>
        <!--回答详情-->
        <activity android:name=".HomePage.Act_Answer_Detail"></activity>
        <!-- 添加回答-->
        <activity android:name=".HomePage.Act_Add_Answer"></activity>
        <!-- 新增讨论标题-->
        <activity android:name=".HomePage.Act_Add_Discuss_Title"></activity>
        <!-- 新增讨论-->
        <activity android:name=".HomePage.Act_Add_Discuss"></activity>
        <!-- 问题详情-->
        <activity android:name=".Question.Act_Question_Detail"></activity>
        <!-- 办税须知-->
        <activity android:name=".Find.Act_Know"></activity>
        <!-- 行业选择/税种选择-->
        <activity android:name=".HomePage.Act_Select_Choice"></activity>
        <!-- 资讯页面-->
        <activity android:name=".Find.Act_News"></activity>
        <!-- 修改个人信息页面-->
        <activity android:name=".Mine.Act_MyInfo"></activity>
        <!-- 编辑个人昵称页面-->
        <activity android:name=".Mine.Act_EditNick"></activity>
        <!-- 我的提问页面-->
        <activity android:name=".Mine.Act_MyQuestion"></activity>
        <!-- 我的收藏页面-->
        <activity android:name=".Mine.Act_MyCollection"></activity>
        <!-- 消息页面-->
        <activity android:name=".Mine.Act_Message"></activity>
        <!-- 用户反馈-->
        <activity android:name=".Mine.Act_UserCallBack"></activity>
        <!-- 设置-->
        <activity android:name=".Mine.Act_Setting"></activity>
        <!-- 我的回答页面-->
        <activity android:name=".Mine.Act_MyAnswer"></activity>
        <!-- 修改密码-->
        <activity android:name=".Mine.Act_ChangePass"></activity>
    </application>

</manifest>
